# ============================================
# Shared infrastructure between environments
# ============================================

# Client and Server ports for prod environment
IZZYBOT_CLIENT_INNER_PORT_PROD=
IZZYBOT_CLIENT_OUTER_PORT_PROD=
IZZYBOT_SERVER_INNER_PORT_PROD=
IZZYBOT_SERVER_OUTER_PORT_PROD=

# Client and Server ports for dev environment
IZZYBOT_CLIENT_INNER_PORT_DEV=
IZZYBOT_CLIENT_OUTER_PORT_DEV=
IZZYBOT_SERVER_INNER_PORT_DEV=
IZZYBOT_SERVER_OUTER_PORT_DEV=

# Client and Server ports for test environment
IZZYBOT_CLIENT_INNER_PORT_TEST=
IZZYBOT_CLIENT_OUTER_PORT_TEST=
IZZYBOT_SERVER_INNER_PORT_TEST=
IZZYBOT_SERVER_OUTER_PORT_TEST=

# Datadog configuration
DD_API_KEY=
DD_SITE=
DD_DOGSTATSD_NON_LOCAL_TRAFFIC=
DD_OUTER_PORT=
DD_INNNER_PORT=
DD_ENV=
DD_SERVICE=
DD_VERSION=
DD_APM_ENABLED=
DD_TRACE_ENABLED=
DD_LOGS_ENABLED=
DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=
DD_LOGS_INJECTION=
DD_RUNTIME_METRICS_ENABLED=
DD_AGENT_HOST=
DD_TRACE_AGENT_PORT=

# Other parameters
DOCKER_NETWORK=